$main-bg: #1B1B1E;
$text-color: #AFB0B1;
$avatar-border-color: #CECECE;
$default-link-color: #868585;
$sidebar-active-color: #fff;
$sidebar-hover-bg: #363636;
$sidebar-btn-color: #787878;
$sidebar-btn-bg: rgba(84, 83, 83, 0.3);
$sidebar-bg: radial-gradient(circle, #242424 0%, #1d1f27 100%);
