@media screen and (max-width: 576px) {
    #avatar {
        width: 5rem;
        height: 5rem;
    }

    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .main-content {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }

    #tail-wrapper {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
}

@media screen and (max-width: 849px) {
    #sidebar {
        transition: transform .4s ease;
        transform: translateX(-260px);
        -webkit-transform: translateX(-260px)
    }

    #main-wrapper {
        transition: transform .4s ease
    }

    #topbar-wrapper {
        transition: transform .4s ease,top .2s ease;
        left: 0
    }

    #topbar-title, #sidebar-trigger, #search-trigger {
        display: block;
    }

    #breadcrumb, .search {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    html {
        overflow-y: scroll;
    }

    #main-wrapper {
        margin-left: 260px;
    }

    #sidebar .profile-wrapper {
        margin-top: 3rem;
    }

    #topbar-title {
        text-align: left;
    }

    .search {
        max-width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    #topbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .search {
        margin-left: 0;
    }

    .main-content {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    #tail-wrapper {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .footer-info {
        padding-bottom: 1rem!important;
        align-items: center!important;
        justify-content: space-between!important;
        flex-direction: row!important;
    }
}

@media screen and (min-width: 850px) and (max-width: 1199px) {
    #breadcrumb {
        width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    #panel-wrapper {
        flex: 0 0 auto;
        width: 25%;
    }

    .main-content {
        flex: 0 0 auto;
        width: 75%;
    }

    #tail-wrapper {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }
}

@media (min-width: 1650px) {
    #sidebar {
        width: 300px;
    }

    #sidebar .profile-wrapper {
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
        padding-left: 3.5rem;
    }

    #sidebar ul li.nav-item {
        padding-left: 2.75rem;
        padding-right: 2.75rem
    }

    #sidebar .sidebar-bottom {
        padding-left: 2.75rem;
        margin-bottom: 1.75rem
    }

    #sidebar .sidebar-bottom a:not(:last-child) {
        margin-right: 1rem
    }

    #sidebar .sidebar-bottom .icon-border {
        margin-left: calc((1rem - 3px)/2);
        margin-right: calc((1rem - 3px)/2)
    }

    #main-wrapper {
        margin-left: 300px;
    }

    .container {
        max-width: 1250px;
        padding-left: 1.75rem!important;
        padding-right: 1.75rem!important;
    }

    #topbar-wrapper {
        left: 300px;
    }

    .main-content {
        flex: 0 0 auto;
        width: 75%;
    }

    #tail-wrapper {
        padding-right: 4.5rem!important;
    }
}
