<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css">
    <link rel="icon" href="{{ .Site.Params.avatarURL }}">
    {{ $opts := dict "transpiler" "dartsass" }}
    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $styles := $scss | resources.ToCSS $opts }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
