<aside aria-label="Sidebar" id="sidebar">
    <header class="profile-wrapper">
        <a href="{{ .Site.BaseURL }}" id="avatar">
            <img src="{{ .Site.Params.avatarURL }}" alt="avatar" height="112" width="112" onerror="this.style.display='none'">
        </a>
        <h1 class="site-title">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>  
        </h1>
        <p class="site-subtitle">
            {{ .Site.Params.description }} 
        </p>
    </header>
    <nav class="nav-flex">
        <ul class="nav">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a href="{{ .URL }}" class="nav-link">
                    {{ .Pre }}
                    <span>{{ .Name | upper }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>

    {{ partial "social.html" . }}
</aside>
