<div class="sidebar-bottom">
    {{ with .Site.Social.twitter }}
    <a class="pure-menu-link" href="https://twitter.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-twitter' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.gnusocial }}
    <a class="pure-menu-link" href="{{ . }}" rel="me" target="_blank">
        <i class='bx bx-comment' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.facebook }}
    <a class="pure-menu-link" href="https://facebook.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-facebook' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.tumblr }}
    <a class="pure-menu-link" href="https://{{ . }}.tumblr.com/" rel="me" target="_blank">
        <i class='bx bxl-tumblr' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.instagram }}
    <a class="pure-menu-link" href="https://instagram.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-instagram' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.patreon }}
    <a class="pure-menu-link" href="https://patreon.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-patreon' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.flickr }}
    <a class="pure-menu-link" href="https://flickr.com/photos/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-flickr' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.pinterest }}
    <a class="pure-menu-link" href="https://pinterest.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-pinterest' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.youtube }}
    <a class="pure-menu-link" href="https://youtube.com/user/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-youtube' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.vimeo }}
    <a class="pure-menu-link" href="https://vimeo.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-vimeo' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.linkedin }}
    <a class="pure-menu-link" href="https://linkedin.com/in/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-linkedin' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.xing }}
    <a class="pure-menu-link" href="https://xing.com/profile/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-xing' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.reddit }}
    <a class="pure-menu-link" href="https://reddit.com/user/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-reddit' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.github }}
    <a class="pure-menu-link" href="https://github.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-github' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.gitlab }}
    <a class="pure-menu-link" href="https://gitlab.com/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-gitlab'></i>
    </a>
    {{ end }}

    {{ with .Site.Social.stackoverflow }}
    <a class="pure-menu-link" href="https://stackoverflow.com/users/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-stack-overflow' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.steam }}
    <a class="pure-menu-link" href="https://steamcommunity.com/id/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-steam' ></i>
    </a>
    {{ end }}

    <!--Need to fix URL-->
    {{ with .Site.Social.discord }}
    <a class="pure-menu-link" href="https://www.discogs.com/user/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-discord-alt' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.keybase }}
    <a class="pure-menu-link" href="https://keybase.io/{{ . }}" rel="me" target="_blank">
        <i class='bx bxs-key' ></i>
    </a>
    {{ end }}

</div>
