<div class="sidebar-bottom">
    {{ with .Site.Social.twitter }}
    <a class="pure-menu-link" href="https://twitter.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.gnusocial }}
    <a class="pure-menu-link" href="{{ . }}" rel="me" target="_blank">
        <i class="fa-regular fa-message"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.facebook }}
    <a class="pure-menu-link" href="https://facebook.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-facebook"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.tumblr }}
    <a class="pure-menu-link" href="https://{{ . }}.tumblr.com/" rel="me" target="_blank">
        <i class="fa-brands fa-tumblr"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.instagram }}
    <a class="pure-menu-link" href="https://instagram.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-instagram"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.patreon }}
    <a class="pure-menu-link" href="https://patreon.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-patreon"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.flickr }}
    <a class="pure-menu-link" href="https://flickr.com/photos/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-flickr"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.pinterest }}
    <a class="pure-menu-link" href="https://pinterest.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.youtube }}
    <a class="pure-menu-link" href="https://youtube.com/user/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-youtube"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.vimeo }}
    <a class="pure-menu-link" href="https://vimeo.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-vimeo"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.linkedin }}
    <a class="pure-menu-link" href="https://linkedin.com/in/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.xing }}
    <a class="pure-menu-link" href="https://xing.com/profile/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-xing"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.reddit }}
    <a class="pure-menu-link" href="https://reddit.com/user/{{ . }}" rel="me" target="_blank">
        <i class='bx bxl-reddit' ></i>
    </a>
    {{ end }}

    {{ with .Site.Social.github }}
    <a class="pure-menu-link" href="https://github.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.gitlab }}
    <a class="pure-menu-link" href="https://gitlab.com/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-gitlab"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.stackoverflow }}
    <a class="pure-menu-link" href="https://stackoverflow.com/users/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-stack-overflow"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.steam }}
    <a class="pure-menu-link" href="https://steamcommunity.com/id/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-steam"></i>
    </a>
    {{ end }}

    <!--Need to fix URL-->
    {{ with .Site.Social.discord }}
    <a class="pure-menu-link" href="https://www.discogs.com/user/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-discord"></i>
    </a>
    {{ end }}

    {{ with .Site.Social.keybase }}
    <a class="pure-menu-link" href="https://keybase.io/{{ . }}" rel="me" target="_blank">
        <i class="fa-brands fa-keybase"></i>
    </a>
    {{ end }}

</div>
