<div id="topbar">
    <nav id="breadcrumb" aria-label="Breadcrumb">
       <span>Home</span> 
    </nav>
    <button type="button" id="sidebar-trigger">
        <i class='bx bx-menu'></i>
    </button>
    <div id="topbar-title">{{ .Site.Title }}</div>
    <button type="button" id="sidebar-trigger">
        <i class='bx bx-search'></i>
    </button>
    <div class="search">
        <i class='bx bx-search'></i>
        <input class="form-control" id="search-input" type="search" aria-label="search" autocomplete="off" placeholder="Search...">
    </div>
    <button type="button" id="search-cancel">Cancel</button>
</div>
